$colorText: linear-gradient(90deg, #001063 0%, #b800ab 46%, #fffb00 100%);

.container-navbar {
  background-color: rgb(75, 75, 75);
}

.navbar {
  height: 60px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.navbar-links {
  font-size: 26px;
  display: flex;
  gap: 40px;
  justify-content: space-around;
}

.navbar-link-li {
  list-style: none;
}

.navbar-logo {
  font-size: 32px;
  font-weight: 600;
  color: transparent;
  background-image: $colorText;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-link {
  text-decoration: none;
  color: rgb(200, 200, 200);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: white;
  }
}
